.random {
  width: 100px;
  height: 100px;
  background-color: orange;
  font-size: 80px;
  border-style: dashed;
  text-align: center;
  diplay-text:inline;
}

.highlight {
  background-color: red;
  border-style:dashed:
  text-align:center;
  widtth:100px;
  height:100px;
  font-size: 80px;
}
